<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
    <h1 align="center">Hello 🤗</h1>
    <p align="center">My name is Sumit Pal. This project is made by me alone. I used flask, html, css and a little bit of javascript.
        if you wanna know more, i'll add my details later
    </p>
</body>
</html>