<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
        Index
        {% endblock title %}-Todos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TableStyle.css') }}">
</head>

<body>
    <h2>
        {% block heading %}
        📝Todo📝
        {% endblock heading %}
    </h2>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index_page', username=username)}}">My Todos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('add', username=username) }}">Add Todos</a>
                        </li>
                    </ul>
                    <form action="{{ url_for('index_page', username=username) }}" method="GET" class="mb-4">
                        <div class="input-group" style="box-shadow: 4px 4px 0px #5c412f;">
                            <input type="text" name="search" class="form-control" placeholder="Search tasks..."
                                value="{{ search_query or '' }}">

                            <a href="{{ url_for('search', username=username) }}" type="button"
                                class="btn btn-dark">Search</a>
                        </div>
                    </form>

                </div>
            </div>
        </nav>
    </div>
    {% block add %}
    <div class="container my-4">
        <h5>Your todos</h5>
        {% if allTodo|length == 0 %}
        <div class="alert alert-light" role="alert">
            No todos here. Add your first todo now
        </div>
        {% else %}


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sl_no.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Todo</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for Todo in allTodo %}
                <tr class="{{ 'important-row' if Todo.important else '' }}">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{Todo.created_at}}</td>
                    <td>{{Todo.title}}</td>
                    <td>{{Todo.todo}}</td>
                    <td>
                        <a href="{{ url_for('delete', username=username, sl_no=Todo.sl_no) }}"
                            class="btn btn-outline-danger btn-sm mx-1">
                            Delete
                        </a>
                        <a href="{{ url_for('update', username=username, sl_no=Todo.sl_no) }}" type="button"
                            class="btn btn-outline-warning btn-sm mx-1">
                            Update </button>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
        {% endif %}
    </div>
    {% endblock add %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>